// Unbounded!!!!
@font-face {
  font-family: 'Unbounded';
  src: url('@/assets/fonts/Unbounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('@/assets/fonts/Unbounded-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('@/assets/fonts/Unbounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('@/assets/fonts/Unbounded-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// Yokelvision!!!!
@font-face {
  font-family: 'Yokelvision';
  src: url('@/assets/fonts/Yokelvision.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}